In [144]:
import pdfplumber
import requests
import tabula as tb
import pandas as pd

In [145]:
file = "Account Statement.pdf"

In [146]:
pdf = pdfplumber.open(file, password="16Apr!4498")
page = pdf.pages

In [147]:
rr=[]
for i in page or []:
    tt=i.extract_table()
    cc=[]
    if rr==[]:
        cnt=True
    else:
        cnt=False
    for j in tt or []:
        if cnt:
            cc.append(j)
        cnt=True
        for b in cc:
             for y in range(len(b)):
                    if b[y]=='-':
                        b[y]='0'
    rr.append(cc)
tf=[]
bt=[]
cnt=False
for i in rr:
    for j in i:
        if cnt==False:
            cnt=True
            bt.append(j)
        tf.append(j)
df=pd.DataFrame(tf)
df

,0,1,2,3,4,5
0,Date,Details,Ref No./Cheque\nNo,Debit,Credit,Balance
1,12 JUL 2021,TRANSFER FROM 3199421044306 -\nNEFT*ICIC000010...,,0,1250.00,5064.93
2,25 JUN 2021,CREDIT INTEREST,,0,38.00,3814.93
3,01 JUN 2021,- ATM CASH 11521 SHOP NO 2\nNETAL COMPLE SURAT,,1500.00,0,3776.93
4,27 MAY 2021,TRANSFER TO 4597870162098 - INB\nIMPS/P2A/1147...,,2000.00,0,5276.93
...,...,...,...,...,...,...
134,12 MAR 2019,TRANSFER FROM 4897969162092 -\nINB\nIMPS907115...,,0,1.00,8013.00
135,12 MAR 2019,TRANSFER FROM 35567226388 Mr.\nSURESH CHHAGAN ...,,0,2000.00,8012.00
136,02 MAR 2019,TRANSFER FROM 66005547549 Mr.\nSURESH CHHAGAN ...,,0,3000.00,6012.00
137,25 DEC 2018,CREDIT INTEREST,,0,12.00,3012.00
138,15 NOV 2018,- CASH DEPOSIT SELF,,0,3000.00,3000.00

In [148]:
df.to_csv('SBI.csv', index=False)

In [149]:
page = pdf.pages[0]
text = page.extract_text()
print("First page data : {}".format(text))
for i in pdf.pages:
    text=i.extract_text()
    cc=[]
    for j in text or []:
        cc.append(j)

First page data : State Bank of India
Account Name Mr. JIGNESH  JINJALA / Mr. LALJIBHAI MAGANBHAI JINJALA
Address 46,SOHAM RO-HOUSE,, KAMREJ,, VALTHAN,SURAT, 394325
Date 13 Jul 2021
Account Number 38070651222
Account Description Savings A/c
Branch S V N I T SURAT
Drawing Power 0.00
Interest Rate(%p.a.) 2.7000
CIF No. 90211983911
IFS Code SBIN0003320
MICR Code 395002012
Nomination Registered Yes
Balance as on 12 JUL 2021  INR 5064.93
Search for 15 NOV 2018 to 12 JUL 2021
Ref No./Cheque
Date Details Debit Credit Balance
No
TRANSFER FROM 3199421044306 -
NEFT*ICIC0000104*CMS2021530096
12 JUL 2021 - 1250.00 5064.93
*TECKNACK TECHNOLOGI
25 JUN 2021 CREDIT INTEREST - 38.00 3814.93
 - ATM CASH 11521 SHOP NO 2
01 JUN 2021 1500.00 - 3776.93
NETAL COMPLE SURAT
TRANSFER TO 4597870162098 - INB
IMPS/P2A/114715618145/XXXXXXX8
27 MAY 2021 2000.00 - 5276.93
06UTIBnull -
 - WRONG AC NO OF ALLU SAI AND
26 MAY 2021 - 6000.00 7276.93
NISHANT PRASAD SYS0

In [150]:
bt
g=[]
cnt=0
for i in bt[0]:
    if cnt!=2:
        g.append(i)
    cnt=cnt+1
g

['Date', 'Details', 'Debit', 'Credit', 'Balance']

In [151]:
t=bt[0]
t
iii=""
for i in g or []:
    iii+=i
    iii+=" "
iii

'Date Details Debit Credit Balance '

In [152]:
page = pdf.pages[0]
text = page.extract_text()
gg=[]
b="Ref No./Cheque"
for line in text.split('\n'):
    if line==b:
        break
    gg.append(line)

di=pd.DataFrame(gg)
gg

['State Bank of India',
 'Account Name Mr. JIGNESH  JINJALA / Mr. LALJIBHAI MAGANBHAI JINJALA',
 'Address 46,SOHAM RO-HOUSE,, KAMREJ,, VALTHAN,SURAT, 394325',
 'Date 13 Jul 2021',
 'Account Number 38070651222',
 'Account Description Savings A/c',
 'Branch S V N I T SURAT',
 'Drawing Power 0.00',
 'Interest Rate(%p.a.) 2.7000',
 'CIF No. 90211983911',
 'IFS Code SBIN0003320',
 'MICR Code 395002012',
 'Nomination Registered Yes',
 'Balance as on 12 JUL 2021  INR 5064.93',
 'Search for 15 NOV 2018 to 12 JUL 2021']

In [153]:
di

                                                    0
0                                 State Bank of India
1   Account Name Mr. JIGNESH  JINJALA / Mr. LALJIB...
2   Address 46,SOHAM RO-HOUSE,, KAMREJ,, VALTHAN,S...
3                                    Date 13 Jul 2021
4                          Account Number 38070651222
5                     Account Description Savings A/c
6                              Branch S V N I T SURAT
7                                  Drawing Power 0.00
8                         Interest Rate(%p.a.) 2.7000
9                                 CIF No. 90211983911
10                               IFS Code SBIN0003320
11                                MICR Code 395002012
12                          Nomination Registered Yes
13             Balance as on 12 JUL 2021  INR 5064.93
14              Search for 15 NOV 2018 to 12 JUL 2021

In [155]:
#di.to_csv('SBI.csv',sheet_name = 'df_2', index=False)
writer2 = pd.ExcelWriter('sbi.xlsx')

df.to_excel(writer2, sheet_name = 'Transactions', index = False)
di.to_excel(writer2, sheet_name = 'Meta Data', index = False)

writer2.save()